{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": [
    "react",
    "import",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-console": "warn",
    "react/self-closing-comp": "warn",
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "avoid",
        "bracketSpacing": true,
        "endOfLine": "auto",
        "jsxBracketSameLine": false,
        "printWidth": 100,
        "semi": true,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "all"
      }
    ],
    "no-unused-vars": [
      "warn",
      {
        "args": "after-used",
        "argsIgnorePattern": "^_.*?$",
        "ignoreRestSiblings": false
      }
    ],
    "import/order": [
      "warn",
      {
        "groups": ["type", "builtin", "object", "external", "internal", "parent", "sibling", "index"],
        "pathGroups": [
          {
            "group": "external",
            "pattern": "~/**",
            "position": "after"
          }
        ],
        "newlines-between": "always"
      }
    ],
    "react/jsx-sort-props": [
      "warn",
      {
        "callbacksLast": true,
        "noSortAlphabetically": false,
        "reservedFirst": true,
        "shorthandFirst": true
      }
    ],
    "padding-line-between-statements": [
      "error",
      {"blankLine": "always", "next": "return", "prev": "*"},
      {"blankLine": "always", "next": "*", "prev": ["const", "let", "var"]},
      {"blankLine": "any", "next": ["const", "let", "var"], "prev": ["const", "let", "var"]}
    ]
  }
}
